{{#items}}
  <div class="catalog-item equip-expander">
    <a href=#>
      <div class="equip-expander-header">
        <table width="100%">
          <tr>
            <td width="50%">
              <span class="lb-span"><b>&nbsp;{{name}}</b></span>
            </td>
            <td>
              <span class="subtitle pull-right">{{source}}</span>
            </td>
          </tr>
        </table>
      </div>
    </a>
    <div class="equip-open-info hidden">
      <div style="padding-left:5px">
        {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
        <span>{{{effect}}}</span>
      </div>
    </div>
  </div>
{{/items}}
