{{#manufacturers}}
<div class="manu-block selected">
  <span class="manu-title">{{name}}</span>
  <a href="#" style="margin-top: -20px;">
    <span class="subtitle pull-right manu-modal-btn" data-modal="manuModal" data-description="{{description}}"><i>i</i></span>
  </a>
</div>
{{/manufacturers}}