{{#manufacturers}}
<table width="98%" style="border-spacing: 0px 3px; margin-left: 5px;" >
  <tr>
    <td width="95%">
      <div class="manu-block selected" data-filter-text="{{id}}">
        <span class="manu-title">{{name}}</span>
      </div>
    </td>
    <td class="subtitle manu-modal-btn" data-modal="manuModal" data-description="{{description}}">
      <span><i>i</i></span>
    </td>
  </tr>
{{/manufacturers}}