{{#items}}
  <div class="catalog-item equip-expander">
    <a href=#>
      <div class="equip-expander-header sweep-btn">
        <span class="lb-span catalog-corebonus-name"><b>&nbsp;{{name}}</b>&nbsp;<span class="subtitle catalog-corebonus-source">{{source}}</span></span>
      </div>
    </a>
    <div class="equip-open-info hidden" style="background-color: var(--bg);">
      <div style="padding-left:5px">
        {{#if description}}<blockquote class="desc-text">{{{description}}}</blockquote>{{/if}}
        <span>{{{effect}}}</span>
      </div>
    </div>
  </div>
{{/items}}