.v-card {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.icn {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.pip {
  width: 17px;
  height: 17px;
  position: absolute;
  opacity: 0.5;
  clip-path: polygon(0 50%, 50% 0, 100% 0, 0% 100%);
  transition: filter 0.2s ease-in-out;
}
