<!-- new/load -->
<div class="nc-wizard" data-step="0">
  <br><br>
  <div id="register-new-config" class="wizard-btn btn" data-step="1"><span style="width: 100%">New Configuration</span></div>
  <br>
  <hr>
  <br>
  <div class="wizard-load-btn disabled warning-stripes"><span>Load Config Data From File</span></div>
  <br>
  <div class="wizard-load-btn disabled warning-stripes"><span>Load Config Data From Clipboard</span></div>

  <div class="wizard-btn-container">
    <span class="close menu-border btn" data-modal="newConfigModal">&emsp;Cancel&emsp;</span>
  </div>
</div>

<!-- select shell-->
<div class="nc-wizard" data-step="1">
  <br><br>
  <div id="register-new-config" class="wizard-btn btn" data-step="1"><span style="width: 100%">New Configuration</span></div>
  <br>
  <hr>
  <br>
  <div class="wizard-load-btn disabled warning-stripes"><span>Load Config Data From File</span></div>
  <br>
  <div class="wizard-load-btn disabled warning-stripes"><span>Load Config Data From Clipboard</span></div>

  <div class="wizard-btn-container">
    <span class="close menu-border btn" data-modal="newConfigModal">&emsp;Cancel&emsp;</span>
  </div>
</div>