<!-- new/load -->
<div class="nc-wizard" data-step="0">
  <br><br>
  <div id="register-new-config" class="wizard-btn btn" data-step="1"><span style="width: 100%">New Configuration</span></div>
  <br>
  <hr>
  <br>
  <div class="wizard-load-btn disabled warning-stripes"><span>Load Config Data From File</span></div>
  <br>
  <div class="wizard-load-btn disabled warning-stripes"><span>Load Config Data From Clipboard</span></div>

  <div class="wizard-btn-container">
    <span class="close menu-border btn" data-modal="newConfigModal">&emsp;Cancel&emsp;</span>
  </div>
</div>

<!-- shell -->
<div class="nc-wizard hidden" data-step="1">
  <h1>Select Shell</h1>
  {{!-- <span class="subtitle">bottom text</span> --}}
  <br>
  <div class="modal-scrollrect menu-border" style="height:74%" >
    <table width="100%" id="shell-select" style="border-collapse: collapse;"></table>
  </div>
  <p id="shell-selection-text" class="subtitle pull-right"></p>

  <div class="wizard-btn-container">
    <div class="wizard-btn btn" data-step="0"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn disabled" id="shell-select-next" data-step="2"><span>Next</span></div>
  </div>
</div>

<!-- everest bonus -->
<div class="nc-wizard hidden" data-step="2">
  <h1>Select CORE Bonus</h1>
  <span class="subtitle">The GMS EVEREST gains a +1 bonus to any CORE attribute, as a shell feature.</span>
  <br>
  <div id="skill-grid" height="100%">
    <table width="100%" style="border-spacing: 15px; margin-top:15%">
      <tr class="everest-bonus-select">
        <td class="skillbox everest-bonus" data-skill="hull" width="25%">Hull</td>
        <td class="skillbox everest-bonus" data-skill="sys" width="25%">Systems</td>
        <td class="skillbox everest-bonus" data-skill="agi" width="25%">Agility</td>
        <td class="skillbox everest-bonus" data-skill="eng" width="25%">Engineering</td>
      </tr>
    </table>
  </div>
  <div id="everest-core-reset" class="minor-btn btn pull-right">RESET</div>
  <div class="wizard-btn-container">
    <div class="wizard-btn btn" data-step="1">Back</div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn btn" data-step="3">Next</div>
  </div>
</div>

<!-- name/data -->
<div class="nc-wizard hidden" data-step="3">
  <h1>Register New Configuration</h1>
  <span class="subtitle">IDENT PROTOCOL // Shell Identifier</span>
  <br><br>
  <span class="label">Configuration Name</span><br>
  <input class="line-input" id="config-name-input" type="text" placeholder="Enter Mech Name...">
  <br><br>
  <span class="label">Configuration Notes</span><br>
  <textarea class="wizard-textarea" id="config-notes" name="notes" rows="10" cols="149" spellcheck="true"></textarea>
  <div style="padding:5px">
    <br>
    <hr>
    <br>
    <span>Image:</span> &emsp;
    <div id="mech-img-select" class="menu-border minor-btn btn" style="display: inline">SELECT</div><span id="mech-img-filename">&nbsp;(NONE)</span>
    <br>
    <br>
    <hr>
  </div>
  <div class="wizard-btn-container">
    <div class="wizard-btn btn" data-step="{{#if isEverest}}2{{else}}1{{/if}}"><span>Back</span></div>
    <div class="breadcrumb-container"></div>
    <div class="wizard-btn disabled" data-step="4"><span>Next</span></div>
  </div>
</div>

<!-- confirm -->
<div class="nc-wizard hidden" data-step="4">
  <h1>Confirm New Configuration</h1>
  <br>
  <div id="confirm-name-text" style="background-color: var(--bg-alt); text-align:center; width:100%;"></div>
  <br>
  <div id="confirm-everest-bonus" style="background-color: var(--bg-alt); text-align:center; width:100%;"></div>
  <br>
  <div id="confirm-new-config" class="wizard-btn btn"><span style="width: 100%">Confirm</span></div>
  <br>
  <div class="wizard-btn-container">
    <div class="wizard-btn btn" data-step="3"><span>Back</span></div>
  </div>
</div>