.DS_Store
.vscode/
dist/
build/
node_modules/
thumbs.db
7z.so
butler*
libc7zip.dylib
schema_out/
yarn-error.log
.idea/

#amplify
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig