{{#manufacturers}}
<div class="manu-block">
  <span class="manu-title">{{name}}</span>
  {{!-- <a href="#">
    <span class="subtitle pull-right manu-modal-btn" data-modal="aboutModal" data-description={{description}}><i>i</i></span>
  </a> --}}
</div>
{{/manufacturers}}