<!-- SHELL INFO modal -->
<div id="shellInfoModal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <span class="close close-x" data-modal="shellInfoModal">&times;</span>
      <span>{{source}} {{name}}</span>
    </div>
    <div class="modal-body">
      <br>
      <div id="shell-info">
        {{{description}}}
        <br>
        <span class="close pull-right menu-border btn" data-modal="shellInfoModal">&emsp;Close&emsp;</span>
        <br><br>
      </div>
    </div>
  </div>
</div>