@import 'spacers.css';
@import 'typography.css';
@import 'clip.css';
@import 'animation.css';

body {
  overflow: overlay;
  font-family: 'Helvetica Regular', sans-serif;
}
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

html {
  scroll-behavior: smooth;
}

@media print {
  body {
    overflow: visible;
    height: 100%;
    background-color: white;
  }

::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  display: none;
}


}
