.diag-stripes {
  background-image: linear-gradient(
    135deg,
    rgb(var(--v-theme-primary)) 25%,
    transparent 25%,
    transparent 50%,
    rgb(var(--v-theme-primary)) 50%,
    rgb(var(--v-theme-primary)) 75%,
    transparent 75%,
    transparent 100%
  );
  background-size: 5.66px 5.66px;
  background-repeat: repeat;
  image-rendering: crisp-edges;
}
