.cc-panel-clip {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 12px), calc(100% - 12px) 100%, 0% 100%);
}

.cc-panel-slice {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, calc(100% - 24px) 100%, 0% 100%);
}

.cc-panel-clip-comfortable {
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 24px), calc(100% - 24px) 100%, 0% 100%);
}
