@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}

a {
  color: var(--v-accent-base) !important;
}

.clickable {
  cursor: pointer !important;
}

.no-shadow::before {
  box-shadow: none !important;
}

.edit-btn {
  opacity: 0.25;
  cursor: pointer;
  transition: 0.3s all;
}

.edit-btn:hover {
  opacity: 1;
  transition: 0.3s all;
}

.mlneg {
  margin-left: -20px !important;
}

.roster-content {
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.fadeSelect {
  opacity: 0.45;
}

.fadeSelect:hover {
  opacity: 1;
  transition: all 0.25s;
}

.mount-title {
  position: relative;
  top: 15px;
  left: 30px;
  background-color: #e0e0e0;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 0;
}

.mount-title-dark {
  position: relative;
  top: 15px;
  left: 30px;
  background-color: #424242 !important;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 0;
}

.bottom-title {
  position: absolute;
  bottom: 12px;
  right: 45px;
  background-color: #e0e0e0;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 0;
}

.bottom-title-dark {
  position: absolute;
  bottom: 12px;
  right: 45px;
  background-color: #424242 !important;
  font-size: 16px;
  letter-spacing: 3px;
  padding: 0;
}

.bordered {
  background: var(--v-stark-panel-base) !important;
  border: 5px double var(--v-panel-border-base) !important;
  border-radius: 2px !important;
}

.bordered-primary {
  background: var(--v-stark-panel-base) !important;
  border: 5px double var(--v-primary-base) !important;
  border-radius: 2px !important;
}

.bordered-success {
  background: var(--v-stark-panel-base) !important;
  border: 5px double var(--v-success-base) !important;
  border-radius: 2px !important;
}

.bordered-dark {
  border: solid 2px #bdbdbd;
}

.hover-opacity {
  opacity: 0.5;
  transition: opacity 0.3s;
}
.hover-opacity:hover {
  opacity: 1;
}

.destroyed-bg {
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 196, 0, 0.1),
    rgba(255, 196, 0, 0.1) 20px,
    rgba(0, 0, 0, 0.1) 20px,
    rgba(0, 0, 0, 0.1) 40px
  );
}

.spin-enter-active,
.spin-leave-active {
  transition: all 50ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
}
.spin-leave-to {
  transform: rotate(-90deg);
}
.spin-enter {
  transform: rotate(90deg);
}
.spin-enter,
.spin-leave-to {
  opacity: 0;
}

.border {
  border: 5px double var(--v-panel-border-base);
  border-radius: 2px;
}

.border-primary {
  border: 5px double var(--v-primary-base);
  border-radius: 2px;
}

.border-thin-primary {
  border: 1px solid var(--v-primary-base);
  margin-bottom: -1px;
}

.panel-block {
  background-color: var(--v-panel-base);
  border: 5px double var(--v-panel-border-base);
  border-radius: 2px;
}

.hide-input-spinners input[type='number'] {
  -moz-appearance: textfield;
}
.hide-input-spinners input::-webkit-outer-spin-button,
.hide-input-spinners input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.v-application,
.v-light,
.v-list,
.v-stepper .v-card {
  background: var(--v-background-base) !important;
}

.v-tabs-items {
  background-color: unset !important;
}

.no-wrap {
  white-space: nowrap !important;
}

/* .theme--dark.v-application, .theme--dark.v-application .v-list, .theme--dark.v-application .v-navigation-drawer, .theme--dark.v-data-table, .theme--dark.v-card, .theme--dark.v-tabs-items { 
  background: var(--v-panel-base) !important;
}

.theme--dark.v-data-table.v-data-table--fixed-header thead th {
  background-color: var(--v-panel) !important;
}

.theme--dark tbody tr:hover:not(.v-data-table__expanded__content) {
  background-color: var(--v-light-panelen1) !important;
}

.theme--dark.v-btn-toggle:not(.v-btn-toggle--group) {
  background-color: unset !important;
} */
