.edit-btn {
  position: relative;
  opacity: 0.15;
  cursor: pointer;
  transition: 0.3s all;
}
.edit-btn:hover {
  opacity: 1;
  transition: 0.3s all;
}

.mlneg {
  margin-left: -10px!important;
}

.roster-content {
  margin-left: 0;
  margin-right: 0;
  width: 100vw;
  overflow-y: scroll;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}