.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 20fr;
  grid-gap: 5px;
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
}

#manufacturer-sidebar {
  grid-area: 2 / 1 / 3 / 1;
  align-self: stretch;
}

#manu-btns {
  overflow: hidden;
}

#catalog-header {
  grid-area: 1 / 1 / 1 / 3;
  align-self: stretch;
}

#catalog-main {
  grid-area: 2 / 2 / 4 / 3;
  border: 1px solid var(--border);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.catalog-filter {
  border: 0;
  font-size: 18px;
  line-height: 20px;
  padding: 8px;
  margin: 10px 0px 5px 10px;
  background-color: var(--bg-alt);
  color: var(--text);
  font-family: 'K2D', sans-serif;
}

.search-input {
  border-bottom: 2px solid var(--highlight);
  width: 500px;
}

.search-input:hover {
  border-bottom: 2px solid var(--success);
}

.catalog-dropdown {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  height: 34px;
  background: url(../icons/caret-down.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 244px;
  background-color: var(--bg-alt);
}

#brew-dropdown {
  margin: 23px 5px 5px 10px;
  background-color: var(--bg-alt);
  color: var(--highlight);
  font-family: 'K2D', sans-serif;
  width: 100px;
  padding: 5px;
  font-size: 12px;
  line-height: 13px;
  border: 0;
  border-radius: 5px;
  height: 25px;
  -webkit-appearance: none;
}

.manu-block {
  width: 98%;
  background-color: var(--bg);
  padding-left: 3px;
  cursor: pointer;
  color: var(--highlight);
  border: 1px solid var(--bg-alt);
  display: inline-grid;
  box-sizing: unset;
  border-right: 0;
}

.manu-block:hover{
  color: var(--text);
  border: 1px solid var(--border);
  border-right: 0;
}

.manu-block.selected {
  background-color: var(--bg-alt);
  color: var(--text);
  border: 1px solid var(--border);
  border-right: 0;
}

.manu-block.selected:hover {
  background-color: var(--bg);
  color: grey;
  border: 1px solid var(--border);
  border-right: 0;
}

.manu-title {
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
}

.manu-modal-btn {
  margin:5px, 0px;
  height: 100%;
  text-align:center;
  line-height:19px;
  background-color:var(--bg-alt);
  color:grey;
  cursor: pointer;
  border: 1px solid var(--border);
  border-left: 0;
}

.manu-modal-btn:hover {
  color: #fff;
  background-color: var(--success);
}

.spacer {
  height: 35px;
}

.sort-bar {
  position: fixed;
  height: 25px;
  z-index: 100;
  width: 100%;
  background-color: var(--bg);
}

.catalog-item {
  width: 98%;
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  border: 0;
  border-bottom: 1px solid var(--border);
}

.catalog-item:hover,
.catalog-item.equip-open-info:hover {
  background-color: var(--bg-alt);
}

.catalog-open {
  background-color: var(--bg-alt);
  color: var(--text);
  border-bottom: 3px solid var(--bg);
}

.catalog-open .tag-div {
  padding-left: 25px;
}

.catalog-minor {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--text);
}

.catalog-ult {
  margin: 5px;
  margin-bottom: 0px;
  padding:5px;
  background-color: var(--bg);
  font-weight: bold;
  letter-spacing: 3px;
  text-align: center;
  width: 98%;
}

.catalog-ult-sub {
  margin: 0px 5px;
  padding:0px 5px;
  letter-spacing: 8px;
  text-align: center;
  width: 98%;
  font-size: 13px;
  font-weight: 100;
  color: var(--highlight);
}

.catalog-ult-desc {
  padding-left: 20px;
  padding-bottom: 5px;
}

.catalog-header-line {
  text-align: center;
  background-color:var(--bg);
  border: 0;
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
}

/* rows hidden by filtering (needed for child rows) */
.tablesorter .filtered {
  display: none;
}

#catalog-search::-webkit-search-cancel-button {
 display: none!important;
}

.reset {
  color: var(--highlight);
  font-size: 40px;
  line-height: 0px;
  cursor: pointer;
}

.reset:hover {
  color: var(--text);
}
