.catalog-wrapper {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 20fr;
  grid-gap: 5px;
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
}

#manufacturer-sidebar {
  grid-area: 2 / 1 / 3 / 1;
  align-self: stretch;
}

#manu-btns {
  overflow: hidden;
}

#catalog-header {
  grid-area: 1 / 1 / 1 / 3;
  align-self: stretch;
}

#catalog-main {
  grid-area: 2 / 2 / 4 / 3;
  border: 1px solid var(--border);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.catalog-filter {
  border: 0;
  font-size: 18px;
  line-height: 20px;
  padding: 8px;
  margin: 10px 0px 5px 10px;
  background-color: var(--bg-alt);
  color: var(--text);
  font-family: 'K2D', sans-serif;
}

.search-input {
  border-bottom: 2px solid var(--highlight);
  width: 500px;
}

.search-input:hover {
  border-bottom: 2px solid var(--success);
}

.catalog-dropdown {
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  height: 34px;
  background: url(../icons/caret-down.png) no-repeat right;
  -webkit-appearance: none;
  background-position-x: 244px;
  background-color: var(--bg-alt);
}

#brew-dropdown {
  margin: 23px 5px 5px 10px;
  background-color: var(--bg-alt);
  color: var(--highlight);
  font-family: 'K2D', sans-serif;
  width: 100px;
  padding: 5px;
  font-size: 12px;
  line-height: 13px;
  border: 0;
  border-radius: 5px;
  height: 25px;
  -webkit-appearance: none;
}

.manu-block {
  width: 98%;
  background-color: var(--bg);
  margin: 5px;
  padding-left: 3px;
  cursor: pointer;
  color: var(--highlight);
  border: 1px solid var(--bg-alt);
  display: inline-grid;
}

.manu-block:hover{
  color: var(--text);
  border: 1px solid var(--border)
}

.manu-block.selected {
  background-color: var(--bg-alt);
  color: var(--text);
  border: 1px solid var(--border);
}

.manu-block.selected:hover {
  background-color: var(--bg);
  color: grey;
  border: 1px solid var(--border);
}

.manu-title {
  line-height: 60px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 5px;
}

.manu-modal-btn {
  position: relative;
  top:-5px;
  text-align:center;
  line-height:19px;
  background-color:var(--bg-alt);
  color:grey;
  width:18px;
  height:18px;           
  border-radius:50%;
}

.manu-modal-btn:hover {
  color: #fff;
  background-color: var(--success);
}

.spacer {
  height: 35px;
}

.sort-bar {
  position: fixed;
  height: 25px;
  z-index: 100;
  width: 100%;
  background-color: var(--bg);
}

.catalog-item {
  /* background-color: var(--bg-alt); */
  width: 98%;
  border: 1px solid var(--border);
  padding: 10px;
  margin: 5px;
  font-size: 18px;
  line-height: 30px;
}

.catalog-item:hover,
.catalog-item.equip-open-info:hover {
  background-color: var(--bg-alt);
}

