@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?83345621');
  src: url('../fonts/fontello.eot?83345621#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?83345621') format('woff2'),
       url('../fonts/fontello.woff?83345621') format('woff'),
       url('../fonts/fontello.ttf?83345621') format('truetype');
       /* url('../fonts/fontello.svg?83345621#fontello') format('svg'); */
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?83345621#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* button height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-search:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-picture:before { content: '\e808'; } /* '' */
.icon-th-large:before { content: '\e809'; } /* '' */
.icon-th:before { content: '\e80a'; } /* '' */
.icon-th-list:before { content: '\e80b'; } /* '' */
.icon-ok:before { content: '\e80c'; } /* '' */
.icon-ok-circled:before { content: '\e80d'; } /* '' */
.icon-ok-circled2:before { content: '\e80e'; } /* '' */
.icon-cancel:before { content: '\e80f'; } /* '' */
.icon-cancel-circled:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e811'; } /* '' */
.icon-cancel-circled2:before { content: '\e812'; } /* '' */
.icon-plus-circled:before { content: '\e813'; } /* '' */
.icon-minus:before { content: '\e814'; } /* '' */
.icon-minus-circled:before { content: '\e815'; } /* '' */
.icon-help-circled:before { content: '\e816'; } /* '' */
.icon-info-circled:before { content: '\e817'; } /* '' */
.icon-home:before { content: '\e818'; } /* '' */
.icon-link:before { content: '\e819'; } /* '' */
.icon-attach:before { content: '\e81a'; } /* '' */
.icon-lock:before { content: '\e81b'; } /* '' */
.icon-lock-open:before { content: '\e81c'; } /* '' */
.icon-pin:before { content: '\e81d'; } /* '' */
.icon-eye:before { content: '\e81e'; } /* '' */
.icon-eye-off:before { content: '\e81f'; } /* '' */
.icon-tag:before { content: '\e820'; } /* '' */
.icon-tags:before { content: '\e821'; } /* '' */
.icon-bookmark:before { content: '\e822'; } /* '' */
.icon-flag:before { content: '\e823'; } /* '' */
.icon-download:before { content: '\e824'; } /* '' */
.icon-upload:before { content: '\e825'; } /* '' */
.icon-forward:before { content: '\e826'; } /* '' */
.icon-export:before { content: '\e827'; } /* '' */
.icon-pencil:before { content: '\e828'; } /* '' */
.icon-edit:before { content: '\e829'; } /* '' */
.icon-print:before { content: '\e82a'; } /* '' */
.icon-retweet:before { content: '\e82b'; } /* '' */
.icon-comment:before { content: '\e82c'; } /* '' */
.icon-chat:before { content: '\e82d'; } /* '' */
.icon-attention:before { content: '\e82e'; } /* '' */
.icon-attention-circled:before { content: '\e82f'; } /* '' */
.icon-location:before { content: '\e830'; } /* '' */
.icon-trash-empty:before { content: '\e831'; } /* '' */
.icon-doc:before { content: '\e832'; } /* '' */
.icon-folder:before { content: '\e833'; } /* '' */
.icon-folder-open:before { content: '\e834'; } /* '' */
.icon-cog:before { content: '\e835'; } /* '' */
.icon-cog-alt:before { content: '\e836'; } /* '' */
.icon-wrench:before { content: '\e837'; } /* '' */
.icon-login:before { content: '\e838'; } /* '' */
.icon-logout:before { content: '\e839'; } /* '' */
.icon-block:before { content: '\e83a'; } /* '' */
.icon-resize-full:before { content: '\e83b'; } /* '' */
.icon-resize-small:before { content: '\e83c'; } /* '' */
.icon-resize-vertical:before { content: '\e83d'; } /* '' */
.icon-resize-horizontal:before { content: '\e83e'; } /* '' */
.icon-zoom-in:before { content: '\e83f'; } /* '' */
.icon-zoom-out:before { content: '\e840'; } /* '' */
.icon-down-circled2:before { content: '\e841'; } /* '' */
.icon-up-circled2:before { content: '\e842'; } /* '' */
.icon-down-dir:before { content: '\e843'; } /* '' */
.icon-up-dir:before { content: '\e844'; } /* '' */
.icon-left-dir:before { content: '\e845'; } /* '' */
.icon-right-dir:before { content: '\e846'; } /* '' */
.icon-down-open:before { content: '\e847'; } /* '' */
.icon-left-open:before { content: '\e848'; } /* '' */
.icon-right-open:before { content: '\e849'; } /* '' */
.icon-up-open:before { content: '\e84a'; } /* '' */
.icon-down-big:before { content: '\e84b'; } /* '' */
.icon-right-big:before { content: '\e84c'; } /* '' */
.icon-left-big:before { content: '\e84d'; } /* '' */
.icon-up-big:before { content: '\e84e'; } /* '' */
.icon-cw:before { content: '\e84f'; } /* '' */
.icon-ccw:before { content: '\e850'; } /* '' */
.icon-arrows-cw:before { content: '\e851'; } /* '' */
.icon-shuffle:before { content: '\e852'; } /* '' */
.icon-target:before { content: '\e853'; } /* '' */
.icon-inbox:before { content: '\e854'; } /* '' */
.icon-globe:before { content: '\e855'; } /* '' */
.icon-off:before { content: '\e856'; } /* '' */
.icon-asterisk:before { content: '\e857'; } /* '' */
.icon-key:before { content: '\e858'; } /* '' */
.icon-floppy:before { content: '\e859'; } /* '' */
.icon-book:before { content: '\e85a'; } /* '' */
.icon-adjust:before { content: '\e85b'; } /* '' */
.icon-leaf:before { content: '\e85c'; } /* '' */
.icon-list-alt:before { content: '\e85d'; } /* '' */
.icon-chart-bar:before { content: '\e85e'; } /* '' */
.icon-magnet:before { content: '\e85f'; } /* '' */
.icon-spin1:before { content: '\e860'; } /* '' */
.icon-move:before { content: '\f047'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-bookmark-empty:before { content: '\f097'; } /* '' */
.icon-left-circled:before { content: '\f0a8'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-resize-full-alt:before { content: '\f0b2'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-blank:before { content: '\f0c8'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-sort:before { content: '\f0dc'; } /* '' */
.icon-sort-down:before { content: '\f0dd'; } /* '' */
.icon-sort-up:before { content: '\f0de'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-chat-empty:before { content: '\f0e6'; } /* '' */
.icon-lightbulb:before { content: '\f0eb'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-angle-double-right:before { content: '\f101'; } /* '' */
.icon-angle-double-up:before { content: '\f102'; } /* '' */
.icon-angle-double-down:before { content: '\f103'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-angle-up:before { content: '\f106'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-reply:before { content: '\f112'; } /* '' */
.icon-folder-empty:before { content: '\f114'; } /* '' */
.icon-folder-open-empty:before { content: '\f115'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-flag-empty:before { content: '\f11d'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-direction:before { content: '\f124'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-info:before { content: '\f129'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-eraser:before { content: '\f12d'; } /* '' */
.icon-rocket:before { content: '\f135'; } /* '' */
.icon-angle-circled-left:before { content: '\f137'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-angle-circled-up:before { content: '\f139'; } /* '' */
.icon-angle-circled-down:before { content: '\f13a'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-level-up:before { content: '\f148'; } /* '' */
.icon-level-down:before { content: '\f149'; } /* '' */
.icon-ok-squared:before { content: '\f14a'; } /* '' */
.icon-pencil-squared:before { content: '\f14b'; } /* '' */
.icon-link-ext-alt:before { content: '\f14c'; } /* '' */
.icon-export-alt:before { content: '\f14d'; } /* '' */
.icon-compass:before { content: '\f14e'; } /* '' */
.icon-expand:before { content: '\f150'; } /* '' */
.icon-collapse:before { content: '\f151'; } /* '' */
.icon-expand-right:before { content: '\f152'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-sort-name-up:before { content: '\f15d'; } /* '' */
.icon-sort-name-down:before { content: '\f15e'; } /* '' */
.icon-sort-alt-up:before { content: '\f160'; } /* '' */
.icon-sort-alt-down:before { content: '\f161'; } /* '' */
.icon-sort-number-up:before { content: '\f162'; } /* '' */
.icon-sort-number-down:before { content: '\f163'; } /* '' */
.icon-down:before { content: '\f175'; } /* '' */
.icon-up:before { content: '\f176'; } /* '' */
.icon-left:before { content: '\f177'; } /* '' */
.icon-right:before { content: '\f178'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-collapse-left:before { content: '\f191'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-circle-thin:before { content: '\f1db'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-share-squared:before { content: '\f1e1'; } /* '' */
.icon-plug:before { content: '\f1e6'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-street-view:before { content: '\f21d'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-clone:before { content: '\f24d'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */