:root {
  /* page elements */
  --bg: #273336;
  --bg-alt: #314347;
  --border: #25616E;
  --highlight: #5F909C;
  --text: #DBEBE9;
  --alert: #F2B134;
  --warn: #F3573B;
  --success: #57DF9A;

  /* damage types */
  --kinetic: #ABB7B7;
  --energy: #74b9ff;
  --explosive: #F2B134;
  --variable: #a557a1;
  --heat: #eb5317;
  --burn: #ce3232;
}

/* Damage Types */
.kinetic {
  color: var(--kinetic);
}

.energy {
  color: var(--energy);
}

.explosive {
  color: var(--explosive);
}

.variable {
  color: var(--variable);
}

.burn {
  color: var(--burn);
}

.heat {
  color: var(--heat);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body { 
  height: 100%; 
  font-family: 'Titillium Web', sans-serif;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 7px var(--border);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 10px var(--highlight);
}

.ra-text {
  font-family: 'Cinzel Decorative', monospace;
  color: greenyellow;
  letter-spacing: 5px;
  text-shadow: 2px 2px 4px magenta;
}

.header {
  grid-area: 1 / 1 / 1 / 4;
  align-self: stretch;
  font-family: 'K2D', sans-serif;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.block-img {
  display:block;
  margin:auto;
  border: 1px solid var(--border);
  background-color: var(--bg);
}

hr {
  background-color: var(--border);
  height: 1px; 
  border: 0; 
}

.hidden {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  grid-template-rows: 1fr 20fr 1fr;
  grid-gap: 5px ;
  height: 100%;
  background-color: var(--bg);
  color: var(--text);
}

#about-btn, #catalog-btn, #options-btn {
  float: right;
  margin: 8px;
  margin-bottom: 0px;
}

#catalog-btn {
  font-size: 15px;
  background: var(--bg-alt);
}

#catalog-btn:hover {
  color: var(--text);
}

.column-header {
  color: white;
  background-color: var(--border);
  text-align: center;
}

.name {
  font-weight: 800;
  font-size: 1.5vw;
}

.pilot-sidebar {
  grid-area: 2 / 1 / 2 / 1;
  border: 1px solid;
  border-color: var(--border);
  overflow-y: auto;
  overflow-x: hidden;
}

.pilot-info {
  font-size: 12px;
}

.pilot-expander, .mech-expander {
  border: 1px solid;
  border-color: var(--border);
  padding: 5px;
  margin: 3px;
}

.pilot-expander.open,
.mech-expander.open {
  background-color: var(--bg-alt);
  border: 1px solid;
  border-color: var(--border);
  padding: 5px;
  margin: 3px;
}

.pilot-sub,
.mech-sub {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  color: var(--highlight);
  font-style: normal;
  margin-top: 10px;
  text-overflow: ellipsis;
}

.open {
  /* background-color: var(--bg-alt); */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid var(--border);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.open:hover {
  border-left-color: var(--text);
}

.mech-sidebar {
  grid-area: 2 / 2 / 2 / 2;
  border: 1px solid var(--border);
  overflow-y: auto;
  overflow-x: hidden;
}

.main {
  grid-area: 2 / 3 / 4 / 3;
  border: 1px solid var(--border);
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.mount-btn,
.system-btn,
.ult-btn {
  background-color: var(--bg-alt); 
  color:var(--highlight); 
  text-align: center;
  height: 34px!important;
  line-height: 30px;
  padding-top: 2px;
}

.mount-btn td,
.system-btn td,
.ult-btn td {
  width: 20%;
}

.ult-btn {
  cursor: default!important;
}

.ult-btn:hover{
  color: var(--text);
}

.add-pilot {
  grid-area: 3 / 1 / 3 / 1;
  background-color: var(--border)
}

.add-mech {
  grid-area: 3 / 2 / 3 / 2;
  background-color: var(--border)
}

.title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 25px;
  margin: 5px;
  padding-top: 10px;
}

.subtitle {
  font-size: 13px;
  font-weight: 100;
  letter-spacing: 3px;
  color: var(--highlight);
  margin: 5px 5px 0 5px;
}

.btn {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  cursor: pointer;
}

.btn:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: var(--text) solid 1px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  opacity: 0;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  transition-property: top, right, bottom, left;
}

.btn:hover:before, .btn:focus:before, .btn:active:before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  opacity: 1;
}

.btn:hover, .btn:focus, .btn:active {
  color: white;
  background-color: var(--border);
}

.menu-btn {
  display: block;
  margin: 3px;
  padding-left: 5px;
  background-color: var(--highlight);
  text-align: center;
}

.menu-btn:hover, .menu-btn:focus {
  color: var(--bg);
  background-color: var(--success);
}

.menu-btn:active {
  color: var(--bg);
  background-color: var(--text);
}

.mech-expander-table{
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

.mech-expander-table th {
  background-color: var(--bg);
  font-size: 13px;
}

.menu-border {
  padding: 2px;
  border: 1px solid;
  border-color: var(--highlight);
}

.sm-mg {
  margin: 3px;
}

.active {
  color: var(--success);
}

.deceased,
.unavailable 
.alert {
  color: var(--alert);
}

.inactive,
.destroyed {
  color: var(--highlight);
}

.warning-stripes {
  background: repeating-linear-gradient(
  -45deg,
  var(--bg-alt),
  var(--bg-alt) 10px,
  var(--bg) 10px,
  var(--bg) 20px) !important;
}

.heat-stripes {
  padding: 0 10px 0 10px;
  font-weight: bold;
  color: var(--text);
  background: repeating-linear-gradient(-45deg,
    var(--alert) 33,
    var(--alert) 33 10px,
    var(--bg) 00 10px,
    var(--bg) 00 20px) !important;
}

.pull-right {
  float: right;
}

blockquote {
  margin: 0.5em 10px;
  padding: 0.5em 10px;
  font-weight: 200;
  font-style: italic;
}

.exp-text {
  line-height: 5px;
  font-size: 12px;
  font-style: italic;
  color: var(--highlight);
}

.manufacturer {
  font-size: 18px;
  letter-spacing: 5px;
}

.desc-text {
  padding-left: 20px;
  font-weight: 200;
  font-size: 14px;
  font-style: italic;
}

.tag {
  display: inline;
  margin:5px;
  font: 'K2D', sans-serif;
  text-decoration:none;
  padding: 3px;
  padding-left: 8px;
  padding-right: 5px;
  color:var(--text);
  background-color: var(--bg);
  border: 1px solid var(--highlight);
  border-width: 1px;
  border-left-width: 5px;
}

.tag:hover, .tag:focus, {
  border-color: var(--text);
  color: #fff
}


.bold {
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 30px;
}

.tag-div {
  padding:10px;
  margin:3px;
}

.disabled {
  color: var(--highlight);
  cursor: not-allowed!important;
}

.gear-table {
  width: 100%;
}

.gear-table th {
  background-color: var(--bg-alt);
  width: 25%!important;
}

.gear-table td {
  background-color: var(--bg);
  text-align: center;
  font-weight: bold;
}

.external-link {
  color: var(--highlight);
  font-weight: bold;
}

.external-link:hover{
  color: var(--success);
}

/* Sweep To Right */
.sweep-btn {
  padding: 2px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition-property: color;
  transition-duration: 0.3s;
  cursor: pointer;
}

.sweep-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #314347;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.sweep-btn:hover,
.sweep-btn:focus,
.sweep-btn:active {
  color: #fff;
  border-color: #DBEBE9;
  background-color: #314347;
}

.sweep-btn:hover:before,
.sweep-btn:focus:before,
.sweep-btn:active:before {
  transform: scaleX(1);
}

.equip-expander-header {
  display: block;
  cursor: pointer;
}

.caret {
  display: inline;
  font-family: "fontello";
  padding-left: 10px;
  padding-right: 5px;
  color:#5F909C;
  cursor: pointer;
}

.caret:hover {
  color: #fff;
}

.caret-closed:before {
  content: '\e849';
}

.caret-open:before {
  content:'\e847';
}

#add-remove-mod-btn,
#add-remove-ammo-btn {
  margin-top:10px;
  margin-left:10px;
  padding: 0px 10px
}

.mod-block {
  padding: 5px;
  background-color: var(--bg-alt)
}