textarea {
  resize: none;
}

.wizard-textarea {
  background-color: var(--bg-alt);
  color: var(--text);
  border: 1px solid var(--border);
  font-size: 15px;
}

.wizard-btn-container {
  width: 97%;
  padding: 15px 20px;
  display: flex;
  position: absolute;
  bottom: 0;
  border-top: 1px solid var(--border);
}

.wizard-btn-container .breadcrumb-container {
  width: 100%;
  height: 10%;
  padding-top: 7px;
  justify-content: center;
  display: inline-flex;
}

.wizard-load-btn,
.wizard-btn {
  padding: 2px;
  border: 1px solid;
  border-color: var(--highlight);
  display: block;
  margin: 3px;
  padding-left: 5px;
  background-color: var(--bg);
  text-align: center;
  cursor: pointer;
}

.wizard-btn {
  width: 100px;
}

.minor-btn {
  font-size: 13px;
  color: var(--highlight);
  padding: 2px;
}

.wizard-load-btn:hover,
.wizard-btn:hover {
  border-color: var(--border);
  color: white;
  background-color: var(--bg-alt);
}

.wizard-load-btn span,
.wizard-btn span {
  padding: 10px;
}

.disabled {
  cursor: not-allowed;
}

.selected {
  background-color: var(--highlight);
  color: white;
}

.selected:hover {
  background-color: var(--border);
  color: white;
}

.breadcrumb {
  padding: 0px 10px;
  border: 1px solid;
  border-color: var(--highlight);
  margin: 0;
  background-color: var(--highlight);
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  transform: skewX(-15deg);
  display: inline-block;
}

.breadcrumb span {
  transform: skewX(15deg);
}

.breadcrumb.disabled {
  background-color: var(--bg);
  color: grey;
  border-color: grey;
}

.np-wizard {
  height: 100%;
  width: 100%;
  position: relative;
}

.line-input {
  border: 0;
  font-size: 18px;
  line-height: 20px;
  padding: 8px;
  margin: 0px 0px 10px 10px;
  background-color: var(--bg-alt);
  color: var(--text);
  font-family: 'K2D',
  sans-serif;
  border-bottom: 2px solid var(--highlight);
  width: 98%;
}

#callsign-input {
  font-size: 30px;
  line-height: 22px;
}

.line-input:hover {
  border-bottom: 2px solid var(--success);
}

.label {
  font-size: 13px;
  font-style: italic;
  color: var(--highlight);
  letter-spacing: 3px;
}

.np-wizard h1 {
  font-style: italic;
}

.wizard-selector-header {
  margin: 5px;
  padding: 5px;
  display: block;
  text-align: center;
  border: 1px solid var(--border);
  background-color: var(--bg);
}

.wizard-selector-header:hover {
  color: white;
  border-color: var(--text);
  background-color: var(--bg-alt);
  cursor: pointer;
}

.wizard-selector-header.selected {
  border: 2px solid var(--success);
  color: var(--success);
  background-color: var(--bg-alt);
}

.wizard-selector-header.selected .subtitle {
  color: white;
}

#bg-explanation {
  padding: 10px;
  font-size: 13px;
}

.bg-header {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
  line-height: 0px;
}

#skill-grid tr {
  height: 95px;
  text-align: center;
}

#core-grid td,
#skill-grid td {
  background-color: var(--bg-alt);
  font-size: 25px;
}

#core-grid .selectable,
#skill-grid .selectable {
  cursor: pointer;
}

#skill-grid td:hover {
  background-color: var(--highlight);
  color: white;
}

#core-grid td:hover {
  border: 2px solid var(--highlight);
}

.core-skillbox.disabled:hover,
.skillbox.disabled:hover{
  color:var(--highlight)!important;
  background-color:var(--bg-alt)!important;
}

#skill-grid .subtitle {
  font-weight: bold;
}

.skill-primary {
  color: var(--energy);
  cursor: default!important;
}

.skill-bonus {
  color: var(--success);
  cursor: default!important;
}

.skill-malus {
  color: var(--explosive);
  cursor: default!important;
}

.skill-upgrade {
  border: 2px solid var(--energy);
}

.add-button {
  text-align: center;
  color: var(--success);
  font-size: 30px;
  line-height: 26px;
  border: 1px solid var(--success);
  width: 26px;
  height: 34px;
  cursor: pointer;
}

.add-button:hover{
  color: var(--bg);
  background-color: var(--success);
}

.subtract-button {
  text-align: center;
  color: var(--burn);
  font-size: 30px;
  line-height: 26px;
  border: 1px solid var(--burn);
  width: 26px;
  height: 34px;
  cursor: pointer;
}

.subtract-button:hover {
  color: var(--bg);
  background-color: var(--burn);
}

.add-button.off {
  color: grey;
  border-color: grey;
  cursor: not-allowed;
}

#fnf-name {
  margin: 2px;
}

#fnf-relationship {
  margin: 3px 0px 10px 2px;
  margin-left: 3%;
  width: 95%;
  font-size: 15px;
}

.fnf-item {
  margin: 10px;
}

#register-new-pilot, 
#confirm-level-up {
  font-size: 28px;
  letter-spacing: 3px;
  line-height: 50px;
  height: 60px;
  width: 100%;
  font-weight: bold;
}

#register-new-pilot {
  margin: 5% 0%;
}

.pulsate {
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite; 
  opacity: 0.5;
}
@keyframes pulsate {
  0% { 
      opacity: 0.25;
  }
  50% { 
      opacity: 1.0;
  }
  100% { 
      opacity: 0.25;
  }
}

.level-gains-list li {
  text-align: center;
  display: inline-block;
  width: 30%;
  background-color: var(--bg-alt);
  color: var(--text);
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 3px;
  margin: 5px;
}

.lb-margin {
  margin-top: 4px;
  margin-left: 5px;
}

.core-skillbox {
  height: 100px;
  padding: 5px;
  letter-spacing: 3px;
  font-size: 25px;
}

.core-name {
  color: var(--highlight);
}

.core-skillbox:hover {
  color: var(--text)!important;
}

.core-skillbox-num {
  float: right;
  right: 5px;
  font-size: 40px;
  position: relative;
}

#level-results{
  width: 100%;
  padding: 10px;
  margin:30px 0px;
}

#level-results th {
  background-color: var(--bg-alt);
  color: white;
  font-weight: bold;
}

#level-results tr,
#level-results th,
#level-results td,{
  text-align: center;
}

.oldval {
  color: var(--kinetic);
  font-size: 25px;
}

.newval {
  color: var(--success);
  font-size: 32px;
}



