<div class="modal-content lg">
  <div class="modal-header lg">
    <span class="close close-x" data-modal="modEditorModal">&times;</span>
    <span>edit mods for x</span>
  </div>
  <div id="mod-editor-body" class="modal-body">
    <!-- equipped header -->
    <div>
     test
    <hr>
    <br>
    <!-- scrollrect -->
    <div class="modal-scrollrect menu-border" style="height:80%; margin-top: -5px">
      <table id="available-mods" width="100%"></table>
    </div>
    <br>
    <br>
    <div class="wizard-btn-container">
      <div class="wizard-btn btn close" data-modal="modEditorModal" style="width: inherit;">Cancel</div>
      <div class="breadcrumb-container"></div>
      <div id="mod-install" class="wizard-btn btn disabled" style="width: inherit;">/ / NO SELECTION / /</div>
    </div>
  </div>
</div>