<div id="lockMountModal" class="modal sm">
  <div class="modal-content sm">
    <div class="modal-header sm">
      <span class="close close-x" data-modal="lockMountModal">&times;</span>
      <span>Lock Mount</span>
    </div>
    <div id="mount-editor-body" class="modal-body">
      <span class="subtitle">SELECT SUPPORT MOUNT</span>
      <!-- scrollrect -->
      <div class="modal-scrollrect menu-border" style="height:75%; margin-top: -5px">
        <table id="lock-mount-table" width="100%"></table>
      </div>
      <br>
      <br>
      <div class="wizard-btn-container">
        <div class="wizard-btn btn close" data-modal="lockMountModal" style="width: inherit;">Cancel</div>
      </div>
    </div>
  </div>
</div>